body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background:#03061734;
}
.login-form{
	height: 370px;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	background:rgba(0,0,50,0.8);
	color: #fff;
	top: 50%;
	position: absolute;
	left: 50%;
	width: 650px;
	padding: 20px 60px;
}

 a {
 	font-size: 18px;
 	text-decoration: none;
 	font-weight: normal;
 	color: gold;
 	font-family: monotype corsiva;
 	text-align: center;

 }

 .login-form input[type="submit"]
 {
 	height: 40px;
 	width: 220px;
 	border-radius: 10px;
 	border: none;
 	padding:0px;
 	font-size: 20px;
 	font-weight: bold;
 	text-align: center;
 	color: #fff;
 	background: red;
 	position: absolute;
 	left: 31%;
 	top: 80%;
 }

.login-form input{
	margin-bottom: 10px;
	width:100%;
}


.login-form p{
	font-weight: bold;
}

.login-form input[type="text"], input[type="password"] 
{
	height: 18px;
	width: 90%;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	color:#ddd;
	font-size: 18px;
	background:transparent;
}


h1{
	margin: 0;
	font-size: 33px;
	text-align: center;
	padding: 0 0 15px;
}
