<!DOCTYPE html>
<html>
<head>
	<title>Elite Store Manager</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<div class="login-form">
		<h1>Elite Store Manager Login </h1>
		<form>
			<p>Username:</p>
			<input type="text" name="username" placeholder="Enter your store username">
			<p>Password :</p>
			<input type="password" name="password" placeholder="Enter your password">
			<a href="index.html"><input type="submit" name="submit" value="Login"></a>
		</form>
		
	</div>

</body>
</html>